/* Layout Slider -*/
.layout-slider {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden; 
  align-items: center;
}

/* Layout options */
.layout-option {
  width: 100%;
  max-width: 200px; /* Keep consistent width */
  background: transparent;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #333;
  transition: background 0.2s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}


.layout-option:hover {
  background: #bebdbd;
}

.layout-option img {
  width: 100%;
  height: 160px; /* Fixed height for consistency */
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

.layout-option p {
  font-size: 13px;
  font-weight: 500;
  color: #2c3e50;
  margin: 0;
  text-align: center;
}

.layout-heading{
  position: sticky;
  top: 0;
  z-index: 2001;

  width: 100%;
  background: aqua;

  padding: 12px 0;
  text-align: center;

  border-bottom: 1px solid #ddd;
}
.layout-heading h3{
  width: 100%;
  background-color: aqua;
}

/* Mobile adjustments */
@media screen and (max-width: 840px) {
  .layout-option img {
    height: 140px;
  }
  
  .layout-floating-btn {
    width: 36px;
    height: 52px;
  }
}