:root {
  --a4-width: 794px;
  --a4-height: 1123px;
}
  
.pdf-document {
  background: #ddd;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pdf1-general {
  break-inside:avoid;
  page-break-inside:avoid;
}

.pdf-source{
  visibility: hidden;
  height: 0;
}

.pdf-pages{
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



.pdf-page {
  width: var(--a4-width);
  min-width: var(--a4-width);
  max-width: var(--a4-width);
  overflow: hidden;
  box-sizing: border-box;
}

.pdf1-page,
.pdf2-page,
.pdf3-page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
