
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin:0;
  width: 100vw;
  
  overflow: hidden;

}

.form-navbar-container{
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 50%;
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 5px;
  height: 100vh;
  overflow: hidden; /* prevent overflow issues */
}

.cv-navbar button{
  width: 50%;
  margin-bottom: 10px;
  background: #464242;
  color: #ffffff;
}
.cv-navbar button:hover{
  font-size: large;
}

.app {
  min-width: 96%;
  
  background: white;
  
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  text-align: center;
}
/* FLEX CONTAINER */
.container {
  display: flex;
  padding: 5px;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  
  height: 100%;
  align-items: stretch;
}
.form-container, .preview-container{
  
  min-height: 100vh; 
  border: 1px solid #ccc;
  padding: 10px;
  
}

/* FORM SECTION (LEFT) */
.form-container {
  flex: 1;
  overflow-y: scroll;
  margin-right: 20px;
  width: 97%;
  background: #ffffff;
  

  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
}
.form-container::-webkit-scrollbar {
  width: 12px;               /* Vertical scrollbar width */
  height: 10px;              /* Horizontal scrollbar height (optional) */
}

.form-container::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Track color */
  border-radius: 10px;
}

.form-container::-webkit-scrollbar-thumb {
  background: #888;          /* Scroll thumb color */
  border-radius: 10px;
}

.form-container::-webkit-scrollbar-thumb:hover {
  background: #555;    
  cursor: pointer;      /* Scroll thumb on hover */
}

.form-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
 overflow: hidden;
}
.form-section-btn {
  position: sticky;
  bottom: 0;
  background: white;
  height: 100px;
  text-align: right;
  z-index: 10;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

.toggle-visibility{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.toggle-visibility label{
  width: 70%;
  padding-left: 10px;
}
.toggle-visibility input{
  width: 25%;
}
.toggle-visibility input:hover{
  cursor: pointer;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05); ;
}

/* PREVIEW SECTION (RIGHT) */
.preview-container {
  width: 100%; 
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 
  
  margin-bottom: 10px;
  
}

.preview-container .full-width {
  width: 100%;
  align-items: stretch;
 
  
}

/* FORM STYLING */
.section {
  margin-bottom: 20px;
}

input {
  display: block;
  width: 90%;
  padding: 7px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* CV PREVIEW STYLING */
.cv-preview h2 {
  text-align: center;
}

.preview-section {
  background: white;
  
  margin-bottom: 10px;
  border-radius: 4px;
}
.summary-container{
  width:95%;
  margin-bottom: 20px;
  margin-left: 6px;
  align-self: flex-start;
  padding: 5px;
  box-shadow: 5px 5px 10px rgba(0.2, 0, 0.2, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.summary-container textarea{
  height: 130px;
  width: 90%;
  resize: none;
  padding: 3px;
  box-sizing: border-box;
}

.headers-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 6px;
  align-self: flex-start;
  align-items: center;
  width: 95%;
  box-shadow: 5px 5px 10px rgba(0.2, 0, 0.2, 0.9);
  padding: 5px;
  border-radius: 5px;
}
.section-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headers-containers input {
  width:100% ;
}

.education-section{
  margin-bottom: 18px;
  margin-top: 18px;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  width: 95%;
  box-shadow: 5px 5px 10px rgba(0.2, 0, 0.2, 0.9);
  padding: 5px;
  border-radius: 5px;
}

.experience-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  width: 95%;
  box-shadow: 5px 5px 10px rgba(0.2, 0, 0.2, 0.9);
  margin-bottom: 18px;
  margin-top: 18px;
  margin-left: 6px;
  padding: 5px;
  border-radius: 5px;
}

.education-achievements-form, .experience-achievements-form{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  width: 93%;
}

.education-achievements-form input{
  width: 65%;
}
.education-achievements-form button{
  max-width: 20%;
 
  background: #464242;
  color: #ffffff;
}
.experience-achievements-form input{
  width: 65%;
}
.experience-achievements-form button{
  max-width: 20%;
 
  background: #464242;
  color: #ffffff;
}

.skills-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
  align-items: center;
  width: 95%;
  box-shadow: 5px 5px 10px rgba(0.2, 0, 0.2, 0.9);
  padding: 5px;
  border-radius: 5px;
  margin-left: 6px;
}
.skills-container-btns{
  display: flex;
  padding-top: 10px;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  

}
.skills-container-btns button{
  padding: 5px;
  border-radius: 50px;
  border: none;
  background: #464242;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  width: 50px;
  font-size: 1.2rem;
} 
.skill-container-input{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #ccc;
  border: #ffffff solid 2px;
}
.skill-container-input input{
  margin-left: 10px;
}

.education-entry button{
  width: 95%;
  margin-bottom: 10px;
  background: #464242;
  color: #ffffff;
}

.education-entry{
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-entry{
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-btn{

  margin-top: 15px;
  margin-bottom: 80px;
  width: 98%;
  align-self: flex-start;
  background: #464242;
  color: white;
}

button:hover{
  font-weight: bold;
  cursor: pointer;
}

.experience-entry button{
  width: 95%;
  margin-bottom: 10px;
  background: #464242;
  color: #ffffff;
}

.download-btn{
  width: 40%;
  margin-top: auto;
  margin-bottom: 40px;
  background: #464242;
  color: white;
}
.edit-btn{
  width: 40%;
  margin-top: auto;
  margin-bottom: 40px;
  background: #464242;
  color: white;
}


.preview-container .full-preview-btns{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.full-preview-btns button{
  width: 40%;
  margin-top: auto;
  margin-bottom: 40px;
  background: #464242;
  color: white;
}


.date-input{
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.date-input-field{
  width: 70%;
}

.projects-container{
  margin-bottom: 18px;
  margin-top: 18px;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  width: 95%;
  box-shadow: 5px 5px 10px rgba(0.2, 0, 0.2, 0.9);
  padding: 5px;
  border-radius: 5px;
}

.project-entry{
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.project-entry textarea{
  height: 130px;
  width: 92%;
  resize: none;
  padding: 3px;
  box-sizing: border-box;
}

.add-btn, .remove-btn{
  width: 95%;
  margin-bottom: 10px;
  background: #464242;
  color: #ffffff;
}

.projects-skills{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.projects-key-feature{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}
.projects-key-feature label{
  width: 40%;
}

.projects-skills label{
  width: 40% ;
}

.add-feat-btn{
  width: 15%;
 
  background: #464242;
  color: #ffffff;
}

.projects-key-feature input{
  width: 73%;
}

.hobbies-container-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin-top: 18px;
  padding: 3px;
  box-shadow: 5px 5px 10px rgba(0.2, 0, 0.2, 0.9);
}
.hobby-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.hobby-entry textarea {
  height: 130px;
  width: 92%;
  resize: none;
  padding: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.hobby-entry input{
  width: 90%;
}

.hobbies-container-form button{
  width: 95%;
  margin-bottom: 10px;
  background: #464242;
  color: #ffffff;
}