.db-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dashboard-info{
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 8px;
    background-color: #222;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    color: beige;
    margin-top:5px ;
    margin-bottom:5px ;
}
.dashboard-info h2{
    font-size: 1.4rem;
}
.dashboard-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.dashboard-buttons button {
    margin-left: 10px;
    margin-right: 10px;
     box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 6px 12px rgba(0, 0, 0, 0.15);

    transition:
    box-shadow 0.2s ease,
    transform 0.15s ease,
    background-color 0.2s ease;
}
.dashboard-buttons  button:hover {
    transform: translateY(-1px);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.40),
    0 10px 18px rgba(0, 0, 0, 0.2);
}