.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.cv-grids{
  width: 100vw;
  text-align: center;
}
.cv-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  width: 100vw;
}

/* CV CARD */
.cv-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 12px;
  height: 250px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cv-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4
  );
}

/* THUMBNAIL */
.cv-thumbnail {
  width: 180px;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  background: #f2f2f2;
}

.cv-thumbnail img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTONS */
.cv-card-btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.cv-card-btns button {
  flex: 1;
  
  background: #464242;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.cv-card-btns button:hover {
  background: #222;
  
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4)
}

/* CREATE NEW CARD */
.create-new {
  justify-content: center;
  cursor: pointer;
  border: 2px dashed #aaa;
  background: transparent;
  width: 180px;
}

.create-new:hover {
  border-color: #333;
}

.plus-icon {
  font-size: 64px;
  font-weight: bold;
  color: #666;
}

.create-new p {
  margin-top: 10px;
  font-weight: bold;
  color: #666;
}




.dashboard-navbar {
    display: flex;
    background-color: aqua  ;
    height: 70px;
    width: 100%;
}


@media screen and (max-width:840px){

    .cv-grids {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 20px;
}


.cv-grid-left{
    background-color: aqua;
    border-radius: 15px;
    padding: 10px;
}

.cv-grid-right{
    background-color:  aqua;
    border-radius: 15px;
    padding: 10px;
    object-fit: contain;
    width: 85vw;
}

.cv-card {
    background-color: wheat;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    padding: 2px;
    border-radius: 10px;
    width: 10vw;
    justify-content: space-between;
    align-items: center;
}




.userinfo-navbar h2 {
    margin: 10px;
    font-size: 1.3rem;
}
.dashboard-navbar {
    display: flex;
    align-self: flex-start;
}

.dashboard{
    height: 100vh;
    overflow-y: auto;
}

.cv-card button{
    margin: 5px;
}


}