.intro-page-container {
    
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
 
}

.intro-content {
    position: relative;
    z-index: 22;
    background-color: #464242;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
  }

.intro-backdrop {
    position: absolute;
  inset: 0;

  

  z-index: 10;
  pointer-events: none;
  
    
}
.intro-first-page {
    position: relative;
    z-index: 22; /* <-- MUST be higher than .intro-backdrop */
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    text-align: center;
}

.first-intro-page h1{
    margin-bottom: 10px;
}
.first-intro-page p {
    font-size: 1rem;
    
}


.intro-second-page {
    
    width: 100%;
    height: 100%;

    
}
.intro-form-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    width: 100%;
}

.intro-form-info-text{
    width: 38vw;
    align-items: center;
    height: 60%;
}
.intro-form-info-text h3{
    
    transition: transform 0.2s ease-in-out;
}

.intro-form-info-text h2:hover {
    transform: scale(1.1);
}

.intro-form-info-text p{
    
    padding: 2px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.intro-form-info-text p:hover {
    font-weight: bolder;
    transform: scale(1.05);
    
}
.intro-form-info-text h3{
    width: 100%;
    border-bottom: 2px solid wheat;
}

.intro-form-info-img{
    width: 25vw;
    height: 67vh;
    object-fit: contain;
    
}
.intro-form-info-img img{
    width: 100%;
    height: 100%;
}

.third-intro-page {
    width: 100%;
}
.intro-form-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    width: 100%;
}


.intro-form-preview-text{
    width: 25vw;
    height: 67vh;
    margin-left: 22px;
}
.intro-form-preview-text p {
    
    padding: 2px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}
.intro-form-preview-text p:hover {
    font-weight: bolder;
    transform: scale(1.05);
}
.intro-form-preview-text h3{
    width: 100%;
    border-bottom: 2px solid wheat;
}
.intro-form-preview-text h2:hover{
    transform: scale(1.1);
}
.intro-form-preview-img{
    width: 45vw;
    height: 67vh;
    object-fit: contain;
}
.intro-form-preview-img img{
    width: 88%;
    height: 88%;
}


.intro-page-container button {
    width: 40%;
    margin: 10px;
    background: #cababa;
    color: #1f1717;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.intro-page-container button:hover {
    cursor: pointer;
    color: #e2d2d2;
    transform: scale(1.1);
    background: #0e0c0c;
}
.fourth-page-intro p{
    font-size: 1rem;
}

@media screen and (max-width:1281px ){
    .intro-form-info, .intro-form-preview {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .intro-form-preview-img, .intro-form-intro-img{
        width: 100%;
      /* set a sensible max width */
      
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .intro-form-info{
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }
    .intro-form-info-img{   
        width: 45vw;
        
        
  
    }
    .intro-form-preview-text {
        width: 30vw;
    }
     .intro-form-preview-img{
        width: 65vw;
    }

    .intro-form-preview{
        width: 100vw;
        display: flex;
        justify-content: space-around;
     }
    
    .second-intro-page {
        width: 95vw;
    }

    .intro-form-info {
        width: 90vw;
    }

    .third-intro-page{
        width: 90vw;
    }
    .intro-form-info-text h3{
        width: 100%;
        border-bottom: 2px solid wheat;
    }

    .intro-form-preview-text h3{
        width: 100%;
        border-bottom: 2px solid wheat;
    }

}

@media screen and (max-width: 840px) {
  /* For phones */

    .intro-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro-form-info, .intro-form-preview {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

   
    .intro-form-info-img{
        width: 100vw;
    }

    .intro-form-info-img, .intro-form-info-text{
        width: 80vw;
        padding-right: 10%;
        
  
    }

    .intro-form-preview-img {
        width: 95vw;
        
    }
    .intro-form-preview-text{
        width: 60vw;
        padding-right: 10%;
        margin-bottom: 7%;
    }
    .second-intro-page {
        width: 80vw;
    }

    .intro-form-info {
        width: 90vw;
    }

    .third-intro-page{
        width: 80vw;
        
    }
    .intro-form-preview {
        width: 90vw;
    }
    .intro-form-info-text h3{
    width: 100%;
    border-bottom: 2px solid wheat;
    }
}



@media  screen and (min-width:460px) and (max-width: 840px){
    
    .intro-form-info-img{
        width: 60vw;
    }

}