.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav span {
  font-size: 24px;
  font-weight: bold;
  color: #1F2937;
}


.db-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: aqua;
    position: fixed;
    z-index: 1000;
}
.dashboard-info{
    display: flex;
    justify-content: space-around;
    
    padding-left: 15px;
    padding-right: 15px;
   
    background: #3b82f6;
    
    border-radius:10px ;
    
    
    margin:5px ;
    
}
.dashboard-info h2{
    font-size: 1.4rem;
    color: #ffffff;
}
.dashboard-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 12px;
    
}
.dashboard-buttons button {
    margin-left: 10px;
    margin-right: 10px;
     box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 6px 12px rgba(0, 0, 0, 0.15);
    width: 120px;
    transition:
    box-shadow 0.2s ease,
    transform 0.15s ease,
    background-color 0.2s ease;
    background: #3b82f6;
  color: white;
}
.dashboard-buttons  button:hover {
    transform: translateY(-1px);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.40),
    0 10px 18px rgba(0, 0, 0, 0.2);
    background-color: #2563eb;
}